<div class="container">
  <div class="form-wrapper">
    <h2>Signup form</h2>
    <form class="signup-form" [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-form-field>
          <mat-label>First Name</mat-label>
          <input matInput placeholder="First Name" formControlName="firstName" name="firstName">
          <mat-error *ngIf="form.controls.firstName.errors?.required">This field is required</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Last Name</mat-label>
          <input matInput placeholder="Last Name" formControlName="lastName" name="lastName">
          <mat-error *ngIf="form.controls.lastName.errors?.required">This field is required</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput placeholder="Email" formControlName="email" name="email">
          <mat-error *ngIf="form.controls.email.errors?.required">This field is required</mat-error>
          <mat-error *ngIf="form.controls.email.errors?.validPattern">Email is not valid</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input id="passwordInput" matInput placeholder="Password" formControlName="password" type="password" name="password">
          <mat-error *ngIf="form.controls.password.errors?.required">This field is required</mat-error>
          <mat-error *ngIf="form.controls.password.errors?.containsName">Password should not contain first name and/or last name</mat-error>
          <mat-error *ngIf="form.controls.password.errors?.minlength || form.controls.password.errors?.maxlength">
            Password should be 8-20 character long
          </mat-error>
          <mat-error *ngIf="form.controls.password.errors?.noLowercase || form.controls.password.errors?.noUppercase">
            Password Should contain lowercase and uppercase letters
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Repeat Password</mat-label>
          <input matInput placeholder="Repeat Password" formControlName="repeatPassword" type="password" name="repeatPassword"
                >
          <mat-error *ngIf="form.controls.repeatPassword.errors?.required">This field is required</mat-error>
          <mat-error *ngIf="form.controls.repeatPassword.errors?.mismatch">Passwords should be same</mat-error>
        </mat-form-field>

        <button class="submit-button" mat-flat-button color="primary">Submit</button>
    </form>
  </div>
</div>
